<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moggi.quizmini.mapper.CardMapper">

    <sql id="search">
        SELECT
        c.ca_pkid,
        c.fo_pkid,
        c.grammatical_person,
        c.verb,
        c.conjugation,
        c.eg_sentence,
        c.review_time,
        c.if_done,
        c.hit_times,
        c.create_time,
        c.modify_time,
        c.last_review_time,
        f.fo_name
        FROM card c
        inner join folder f on f.fo_pkid=c.fo_pkid
        <where>
            <if test="query.ifAll == null or query.ifAll == 0">
                (last_review_time IS NULL OR last_review_time <![CDATA[ <= ]]> date())
                AND (if_done = 0 OR if_done IS NULL)
            </if>
            <if test="query.foPkid != null and query.foPkid != ''">
                AND fo_pkid = #{query.foPkid}
            </if>
            <if test="query.grammaticalPerson != null and query.grammaticalPerson != ''">
                AND grammatical_person = #{query.grammaticalPerson}
            </if>
            <if test="query.verb != null and query.verb != ''">
                AND verb = #{query.verb}
            </if>
            <if test="query.conjugation != null and query.conjugation != ''">
                AND conjugation like '%'||#{query.conjugation}||'%'
            </if>
            <if test="query.egSentence != null and query.egSentence != ''">
                AND egSentence like '%'||#{query.egSentence}||'%'
            </if>
            <if test="query.foPkidList != null and query.foPkidList.size > 0">
                AND fo_pkid in (
                <foreach item="item" collection="list" open="" close="" separator=",">
                    #{item}
                </foreach>
                )
            </if>
        </where>
    </sql>

    <select id="searchList" resultType="com.moggi.quizmini.entity.Card">
        <include refid="search"/>
    </select>

    <select id="searchPage" resultType="com.moggi.quizmini.dto.CardDTO">
        <include refid="search"/>
        ORDER BY review_time
    </select>
</mapper>
